
@{
    string usuario = "Colaborador";
    ViewBag.Title = "MenuColaborador";
    Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
    Session["Usuario"] = usuario;
}

<h2>Menu Colaborador</h2>


