
@{
    ViewBag.Title = "InicioSesion";
    Layout = "~/Views/Shared/_LayoutSolo.cshtml";
}

<h2>Iniciar sesión</h2>

<form id="frmInicioSesion" method="post">

    <div class="form-outline mb-4">
        <label class="form-label">Usuario :</label>
        <input type="text" name="Usuario" id="Usuario" class="form-control" />
    </div>
    <div class="form-outline mb-4">
        <label class="form-label">Contraseña :</label>
        <input type="password" name="Contrasena" id="Contrasena" class="form-control" />
    </div>

    <br />
    <div class="form-group">
        <input class="btn btn-primary btn-block mb-4" type="submit" value="Ingresar" id="btnIngresar" />
    </div>
</form>
@section scripts{

    @Scripts.Render("~/Scripts/ScriptsProyecto/InicioSesion.js")

}