@{
    ViewBag.Title = "InicioSesion";
    Layout = "~/Views/Shared/_LayoutSolo.cshtml";
}

<h2 align="center">Iniciar sesión</h2>

<form align="center" id="frmInicioSesion" method="post">
    <div align="center" class="form-outline mb-4">
        <label class="form-label">Usuario :</label>
        <input type="text" name="Usuario" id="Usuario" class="form-control" />
    </div>
    <div align="center" class="form-outline mb-4">
        <label class="form-label">Contraseña :</label>
        <input type="text" name="Contrasena" id="Contrasena" class="form-control" />
    </div>
    <br />
    <div align="center" class="form-group">
        <input class="btn btn-primary btn-block mb-4" type="submit" value="Ingresar" id="btnIngresar" />
    </div>
</form>
@section scripts{

    @Scripts.Render("~/Scripts/ScriptsProyecto/InicioSesion.js")
}