@model List<Proyecto.Models.sp_Retorna_Adiccion_Cliente_Result>
    
@{
    ViewBag.Title = "Adicciones Clientes";
    //Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
    Layout = "~/Views/Shared/_LayoutSolo.cshtml";
    

}

<h2>Lista de adicciones por cliente</h2>
<a href="~/AdiccionesCliente/AdiccionesClienteInsertar">Nueva adicción por cliente</a>
<br />

<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Código</th>
        <th>Acciones</th>
    </tr>
    @{
        foreach (Proyecto.Models.sp_Retorna_Adiccion_Cliente_Result posicionModelo in Model)
        {
            <tr>
                <td>@posicionModelo.Nombre </td> @*nombre de la adicción*@
                <td>@posicionModelo.NombreCompleto</td>
                @*nombre completo cliente*@
                <td>
                    <a href="~/AdiccionesCliente/AdiccionesClienteModificar?id=@posicionModelo.Id">Modificar</a>
                    <br />
                    <a href="~/AdiccionesCliente/AdiccionesClienteEliminar?id=@posicionModelo.Id">Eliminar</a>
                </td>
            </tr>
        }
    }
</table>

@*<a href="~/InicioSesion/InicioSesion">Salir</a>*@