@model Proyecto.Models.sp_Retorna_Cobertura_De_PolizaID_Result
@{
    ViewBag.Title = "CoberturasPolizaElimina";
    Layout = "~/Views/Shared/_LayoutSolo.cshtml";
}

<h2 align="center">Eliminar cobertura póliza</h2>

<form align="center" id="frmCoberturasPolizaElimina" method="post">
    <input type="hidden" name="Id_Cobertura" id="Id_Cobertura" value="@Model.Id_Cobertura" readonly />
    <div align="center" class="form-group">
        <label>Nombre :</label>
        <input type="text" name="Nombre" id="Nombre" class="form-control" value="@Model.Nombre" readonly />
    </div>
    <div align="center" class="form-group">
        <label>Descripción</label>
        <input type="text" name="Descripcion" id="Descripcion" class="form-control" value="@Model.Descripcion" readonly />
    </div>
    <div align="center" class="form-group">
        <label>Porcentaje :</label>
        <input type="text" name="Porcentaje" id="Porcentaje" class="form-control" value="@Model.Porcentaje" readonly />
    </div>
    <div align="center" class="form-group">
        <input class="btn btn-primary btn-block mb-4" type="submit" value="Eliminar" id="btnEliminar" />
    </div>
    <a href="~/CoberturasPoliza/CoberturasPolizaLista">Regresar a la lista</a>
</form>